<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <!--<p class="centered"><a href="profile.html"><img src="/public/assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>-->
            <!--<h5 class="centered">Marcel Newman</h5>-->

            <li class="mt">
                <a href="index.html">
                    <i class="fa fa-"></i>
                    <span></span>
                </a>
            </li>


            <li class="sub-menu">
                <a href="/manage.php/manage/index/index" >
                    <i class="fa fa-tasks"></i>
                    <span>文件管理</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="/manage.php/manage/index/uploads" >
                    <i class="fa fa-tasks"></i>
                    <span>我的上传</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="/manage.php/manage/index/myfile?status=1" >
                    <i class="fa fa-tasks"></i>
                    <span>网易云管理</span>
                </a>
            </li>
            <!--<li class="sub-menu">-->
                <!--<a href="/manage.php/manage/index/myfile?status=2" >-->
                    <!--<i class="fa fa-tasks"></i>-->
                    <!--<span>腾讯云管理</span>-->
                <!--</a>-->
            <!--</li>-->
            <li class="sub-menu">
                <a href="/manage.php/manage/index/myfile?status=3" >
                    <i class="fa fa-tasks"></i>
                    <span>七牛云管理</span>
                </a>
            </li>
            <!--<li class="sub-menu">-->
                <!--<a href="/manage.php/manage/index/myfile?status=4" >-->
                    <!--<i class="fa fa-tasks"></i>-->
                    <!--<span>滴滴云管理</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="sub-menu">-->
                <!--<a href="/manage.php/manage/index/myfile?status=5" >-->
                    <!--<i class="fa fa-tasks"></i>-->
                    <!--<span>天翼云管理</span>-->
                <!--</a>-->
            <!--</li>-->
            <li class="sub-menu">
                <a href="/manage.php/manage/index/myfile?status=6" >
                    <i class="fa fa-tasks"></i>
                    <span>UCloud管理</span>
                </a>
            </li>
            <!--<li class="sub-menu">-->
                <!--<a class="active" href="javascript:;" >-->
                    <!--<i class="fa fa-th"></i>-->
                    <!--<span>Data Tables</span>-->
                <!--</a>-->
                <!--<ul class="sub">-->
                    <!--<li class="active"><a  href="basic_table.html">Basic Table</a></li>-->
                    <!--<li><a  href="responsive_table.html">Responsive Table</a></li>-->
                <!--</ul>-->
            <!--</li>-->


        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>